#mynetwork {
    position:relative;
    width: 600px;
    border: 1px solid lightgray;
}

div.popupMenu, div#ContextMenuTest {
  position:absolute;
  top:0px;
  left:0px;
  width:all;
  height:all;
  color: #000;
  background-color:rgba(0,0,0,.7);
}

div.popupMenu, div#ContextMenuTest_White {
  position:absolute;
  top:0px;
  left:0px;
  width:all;
  height:all;
  color: #000;
  background-color:rgba(0,0,0,.7);
}

div.popupMenu li { 
    padding: 6px 15px;
    cursor: pointer;
    list-style: none;
    transition-duration: .1s;
    transform: linear;
}

div.popupMenu li:nth-child(odd){
    background: rgba(255,255,255,.9);
}

div.popupMenu li:nth-child(even) {
    background: rgba(255,255,255,.8);
}

div.popupMenu li:hover {
    transition-duration: .1s;
    transform: linear;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

div#ContextMenuTest, div#ContextMenuTest_White {
    visibility: hidden;
}

div#ContextMenuTest li, div#ContextMenuTest_White li {
    cursor: pointer;
    list-style: none;
    transition-duration: .1s;
    transform: linear;
}

div#ContextMenuTest li:nth-child(odd){
    background: rgba(255,255,255,.9);
}

div#ContextMenuTest li:nth-child(even) {
    background: rgba(255,255,255,.8);
}

div#ContextMenuTest li:hover {
    transition-duration: .1s;
    transform: linear;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

div#ContextMenuTest li div.icons-menu-context {
    position: absolute;
    margin: 2px 0 0 10px;
    display: inline-block;
}

div#ContextMenuTest li div.label-menu-context {
    /*float: right; */
    display: inline-block; 
    margin: 5px 10px;
    padding: 0 20px 0 35px;
}

div#ContextMenuTest_White li:nth-child(odd){
    background: rgba(255,255,255,.9);
}

div#ContextMenuTest_White li:nth-child(even) {
    background: rgba(255,255,255,.8);
}

div#ContextMenuTest_White li:hover {
    transition-duration: .1s;
    transform: linear;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

div#ContextMenuTest_White li div.icons-menu-context {
    position: absolute;
    margin: 2px 0 0 10px;
    display: inline-block;
}

div#ContextMenuTest_White li div.label-menu-context {
    /*float: right; */
    display: inline-block; 
    margin: 5px 10px;
    padding: 0 20px 0 35px;
}

div.mixings-get-devices .mix-container {
    min-height: 300px;
    padding: 2% 2% 0;
    text-align: justify;
    font-size: 0.1px;
    -webkit-backface-visibility: hidden;
}

div.mixings-get-devices .mix-container .mix.category-1 {
    border-top: 3px solid #4a89dc;
    height: 150px;
}

div.mixings-get-devices .mix-container .mix.category-2 {
    border-top: 3px solid #56de04;
    height: 150px;
}

div.mixings-get-devices .mix-container .mix, .mix-container .gap {
    display: inline-block;
    width: 49%;
}

div.mixings-get-devices .mix-container .mix {
    text-align: left;
    background: #f4f4f4;
    border: 1px solid #DDD;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(221, 221, 221);
    margin-bottom: 2%;
    display: none;
}

div.mixings-get-devices .mix-container .mix, .mix-container .gap {
    width: 23.5%;
}