#mynetwork {
    position:relative;
    width: 600px;
    border: 1px solid lightgray;
}

div.mixings-get-devices .mix-container {
    min-height: 300px;
    padding: 2% 2% 0;
    text-align: justify;
    -webkit-backface-visibility: hidden;
}

div.mixings-get-devices .mix-container .mix.category-1 {
    height: 150px;
}

div.mixings-get-devices .mix-container .mix.category-2 {
    height: 150px;
}

div.mixings-get-devices .mix-container .mix.category-3 {
    height: 150px;
}

div.mixings-get-devices .mix-container .mix.category-4 {
    height: 150px;
}

div.mixings-get-devices .mix-container .mix.category-1:hover, .mix.category-2:hover {
    height: 150px;
}

div.mixings-get-devices .mix-container .mix.category-1:active, .mix.category-2:active > p {
    font-weight: bold;
}

div.mixings-get-devices .mix-container .mix.category-1:hover, .mix.category-1:hover {
    height: 150px;
}

div.mixings-get-devices .mix-container .mix.category-1:active, .mix.category-1:active > p {
    font-weight: bold;
}

div.mixings-get-devices .mix-container .mix.category-1:hover, .mix.category-3:hover {
    height: 150px;
}

div.mixings-get-devices .mix-container .mix.category-1:active, .mix.category-3:active > p {
    font-weight: bold;
}

div.mixings-get-devices .mix-container .mix.category-1:hover, .mix.category-4:hover {
    height: 150px;
}

div.mixings-get-devices .mix-container .mix.category-1:active, .mix.category-4:active > p {
    font-weight: bold;
}

div.mixings-get-devices .mix-container .mix.category-1, .mix.category-2, .mix.category-3, .mix.category-4 {
    height: 150px;
}

div.mixings-get-devices .mix-container .mix, .mix-container .gap {
    display: inline-block;
    width: 49%;
}

div.mixings-get-devices .mix-container .mix {
    background: #f4f4f4;
    border: 1px solid #DDD;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(221, 221, 221);
    margin-bottom: 2%;
    display: none;
}

div.mixings-get-devices .mix-container .mix, .mix-container .gap {
    width: 23.5%;
}