div.popupMenu, div#ContextMenuTest {
  position:absolute;
  top:0px;
  left:0px;
  width:all;
  height:all;
  color: #000;
  background-color:rgba(0,0,0,.7);
}

div.popupMenu, div#ContextMenuTest_White {
  position:absolute;
  top:0px;
  left:0px;
  width:all;
  height:all;
  color: #000;
  background-color:rgba(0,0,0,.7);
}

div.popupMenu li { 
    padding: 6px 15px;
    cursor: pointer;
    list-style: none;
    transition-duration: .1s;
    transform: linear;
}

div.popupMenu li:nth-child(odd){
    background: rgba(255,255,255,.9);
}

div.popupMenu li:nth-child(even) {
    background: rgba(255,255,255,.8);
}

div.popupMenu li:hover {
    transition-duration: .1s;
    transform: linear;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

div#ContextMenuTest, div#ContextMenuTest_White {
    visibility: hidden;
}

div#ContextMenuTest li, div#ContextMenuTest_White li {
    cursor: pointer;
    list-style: none;
    transition-duration: .1s;
    transform: linear;
}

div#ContextMenuTest li:nth-child(odd){
    background: rgba(255,255,255,.9);
}

div#ContextMenuTest li:nth-child(even) {
    background: rgba(255,255,255,.8);
}

div#ContextMenuTest li:hover {
    transition-duration: .1s;
    transform: linear;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

div#ContextMenuTest li div.icons-menu-context {
    position: absolute;
    margin: 2px 0 0 10px;
    display: inline-block;
}

div#ContextMenuTest li div.label-menu-context {
    display: inline-block; 
    margin: 5px 10px;
    padding: 0 20px 0 35px;
}

div#ContextMenuTest_White li:nth-child(odd){
    background: rgba(255,255,255,.9);
}

div#ContextMenuTest_White li:nth-child(even) {
    background: rgba(255,255,255,.8);
}

div#ContextMenuTest_White li:hover {
    transition-duration: .1s;
    transform: linear;
    background-color: rgba(0,0,0,.5);
    color: #fff;
}

div#ContextMenuTest_White li div.icons-menu-context {
    position: absolute;
    margin: 2px 0 0 10px;
    display: inline-block;
}

div#ContextMenuTest_White li div.label-menu-context {
    display: inline-block; 
    margin: 5px 10px;
    padding: 0 20px 0 35px;
}


/*
  Style of InputSearch
*/

.form-navbar-buscador {
  width: 280px;
}

.form-group-navbar-buscador {
  width: 100%;
}

.form-control-group-navbar-buscador {
    width: 100% !important;
}

/* Box-Wrap */
.box-wrap::after {
    display: block;
    content: '';
    clear: both;
}

.boxes div.selected {
    -webkit-box-shadow: 0 0.45em 0.6em 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.45em 0.6em 0 rgba(0, 0, 0, 0.2);

      border-radius: 4px;
            /*background-color: red;*/
}

.selection {
    /*background: rgba(0, 0, 255, 0.1);*/
    background: rgba(0, 0, 0,.2);
    border-radius: 0.1em;
    /*border: 0.05em solid rgba(0, 0, 255, 0.2);*/
    border: 0.05em solid rgba(0, 0, 0, 0.4);
}

#MainSearchIPHostFinal::placeholder {
    color: #e1e6ec;
}

.gnet_heart {
	font-size: 150px;
	/* color: rgb(214, 209, 209); */
	animation: beat 1s infinite alternate;
	transform-origin: center;
}

/* Heart beat animation */
@keyframes beat {
	to { transform: scale(1.02); }
}